body{
  width: 95%;
  height: 10rem;
  display: flex;
  justify-content: center;
  background-image: url('/images/happy-people.jpg');
  background-repeat: no-repeat;
  background-size: 100% 400%;
}
main{
  width: 80%;
  height: auto;
  position: relative;
  top: 27rem;

}
.first-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.first-row p{
  font-size: 1.3rem;
}
button{
  width: 20%;
  height: 2.3rem;
  background-color: aquamarine ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-radius: 0.7rem;
}
button:hover{
  border: none;
  background-color: rgb(79, 227, 178);
}

img{
  max-width: 3rem;
  height: auto;
}

#joke-box{
  text-align: center;
}
#fun{
  font-size: 1.5rem;
  color: blueviolet;
  font-weight: bold;
}